[Interface]
Address = 10.0.0.1/24
ListenPort = 51820
PrivateKey = SERVER_PRIVATE_KEY

# Route all traffic through VPN
PostUp   = iptables -A FORWARD -i %i -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE

# Peer: developer-1
[Peer]
PublicKey  = PEER1_PUBLIC_KEY
AllowedIPs = 10.0.0.2/32

# Peer: developer-2
[Peer]
PublicKey  = PEER2_PUBLIC_KEY
AllowedIPs = 10.0.0.3/32
